* {
   font-family: 'Ubuntu', sans-serif;
}
body {
   text-align: center;
   background-image: linear-gradient(rgb(223, 0, 193) 10%, rgb(0, 176, 230));
   background-attachment: fixed;
}
.container {
   display: flex;
   align-items: center;
   justify-content: center;
}
p {
   margin: 3vh auto 4vh;   
   font-weight: bold;
   font-size: 100px;
   color: rgb(233, 233, 233);
   text-shadow: 1px 1px 5px black;   
}
/* left panel elements */
.left-panel {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.color-palette {
   background-color: rgba(0, 0, 0, 0.2);
   width: 10vh;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.color {
   width: 27%;
   aspect-ratio: 1/1;
   box-sizing: border-box;   
   border-radius: 50%;
   margin: 3px;
}
.color-1 { 
   background-color: rgb(248, 106, 41);
}
.color-2 {
   background-color: rgb(47, 233, 56);
}
.color-3 {
   background-color: rgb(243, 92, 137);
}
.color-4 {
   background-color: rgb(61, 161, 219);
}
.color-5 {
   background-color: rgb(184, 212, 81);
}
.color-6 {
   background-color: rgb(59, 59, 59);
}
button {
   font-size: 14px;
   color:rgb(255, 0, 234);
   width: 10vh;
   height: 3vh;
   border: none;
   border-radius: 5px;
   background-color: rgb(255, 255, 255);
   margin: 5px;
}
button:hover {
   background-color: rgb(173, 243, 255);
}

/* grid elements  */
.grid {  
   display: flex;
   width: 600px;
   flex-wrap: wrap;
   padding: 0;
}
.square {
   box-sizing: border-box;
   border: 1px solid rgb(255, 255, 255);
   background-color: rgb(121, 205, 216);
   width: 25%;
   aspect-ratio: 1/1;
}
.square-hover {
   background-color: rgb(163, 195, 199);
}
